icons
*.sql
yarn.lock
.prettierignore
.gitignore
LICENSE
*.ejs
.ebextensions
.DS_Store
.env
.ebignore
.npmrc
*.otf
*.ttf
*.png
*.webp
*.yml.save
migrations
pnpm-lock.yaml
*.sh
.pnpm-debug.log
static
.husky/pre-commit
Dockerfile
file-store