files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/41_install_yarn.sh:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      curl -L https://raw.githubusercontent.com/pnpm/self-installer/master/install.js | node
  /opt/elasticbeanstalk/hooks/appdeploy/pre/51_install_packages.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      cd "${app}";
      pnpm ci