.container {
  margin-bottom: 10rem;
}

.container.edit {
  margin-bottom: 1.6rem;
}

.question {
  margin-bottom: 1.6rem;
}

.container #single-client-search-label {
  font-size: 1.4rem;
}

button.unstyled.link.add-payer {
  margin-top: 2.4rem;
}

.inputs {
  margin-top: 2.4rem;
  font-size: 1.6rem;
}

.inputs label {
  display: inline-block;
  width: 18rem;
}

.inputs > * + * {
  margin-top: 1.6rem;
}
