.container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  color: red;
  cursor: pointer;
}

.saveButton {
  color: blue;
  cursor: pointer;
}

.cancelEditButtons {
  /* position: relative; 
 left: 6em;
 padding: 8px;
 margin: 1px; 
 cursor: pointer; */

  display: flex;
  justify-content: flex-end;
}
