.container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  color: var(--medium-red);
}

.saveButton {
  color: var(--medium-blue);
}

.cancelEditButtons {
  display: flex;
  justify-content: flex-end;
}
