/*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:22
    */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-3d-bars:before {
  content: "\f100";
}
.flaticon-align-left:before {
  content: "\f101";
}
.flaticon-arrange:before {
  content: "\f102";
}
.flaticon-bold-text:before {
  content: "\f103";
}
.flaticon-borders:before {
  content: "\f104";
}
.flaticon-brush:before {
  content: "\f105";
}
.flaticon-bullets:before {
  content: "\f106";
}
.flaticon-color:before {
  content: "\f107";
}
.flaticon-columns:before {
  content: "\f108";
}
.flaticon-edit-picture:before {
  content: "\f109";
}
.flaticon-eye-dropper:before {
  content: "\f10a";
}
.flaticon-fill:before {
  content: "\f10b";
}
.flaticon-graphs:before {
  content: "\f10c";
}
.flaticon-grid:before {
  content: "\f10d";
}
.flaticon-highlight:before {
  content: "\f10e";
}
.flaticon-image-shadow:before {
  content: "\f10f";
}
.flaticon-insert-picture:before {
  content: "\f110";
}
.flaticon-italics:before {
  content: "\f111";
}
.flaticon-leading:before {
  content: "\f112";
}
.flaticon-letter-color:before {
  content: "\f113";
}
.flaticon-letter-glow-effect:before {
  content: "\f114";
}
.flaticon-letter-shadow:before {
  content: "\f115";
}
.flaticon-letter-size:before {
  content: "\f116";
}
.flaticon-link:before {
  content: "\f117";
}
.flaticon-magnifying-glass:before {
  content: "\f118";
}
.flaticon-multimedia:before {
  content: "\f119";
}
.flaticon-new-page:before {
  content: "\f11a";
}
.flaticon-numbering:before {
  content: "\f11b";
}
.flaticon-open-file:before {
  content: "\f11c";
}
.flaticon-page-break:before {
  content: "\f11d";
}
.flaticon-paragraph:before {
  content: "\f11e";
}
.flaticon-pen:before {
  content: "\f11f";
}
.flaticon-pencil:before {
  content: "\f120";
}
.flaticon-pointer:before {
  content: "\f121";
}
.flaticon-print:before {
  content: "\f122";
}
.flaticon-quotes:before {
  content: "\f123";
}
.flaticon-redo:before {
  content: "\f124";
}
.flaticon-remove-right-frame:before {
  content: "\f125";
}
.flaticon-ruler:before {
  content: "\f126";
}
.flaticon-scissors:before {
  content: "\f127";
}
.flaticon-spacing:before {
  content: "\f128";
}
.flaticon-strike-through:before {
  content: "\f129";
}
.flaticon-superscript:before {
  content: "\f12a";
}
.flaticon-swatches:before {
  content: "\f12b";
}
.flaticon-text-box:before {
  content: "\f12c";
}
.flaticon-text-in:before {
  content: "\f12d";
}
.flaticon-text-out:before {
  content: "\f12e";
}
.flaticon-type:before {
  content: "\f12f";
}
.flaticon-undelined:before {
  content: "\f130";
}
.flaticon-undo:before {
  content: "\f131";
}

$font-Flaticon-3d-bars: "\f100";
$font-Flaticon-align-left: "\f101";
$font-Flaticon-arrange: "\f102";
$font-Flaticon-bold-text: "\f103";
$font-Flaticon-borders: "\f104";
$font-Flaticon-brush: "\f105";
$font-Flaticon-bullets: "\f106";
$font-Flaticon-color: "\f107";
$font-Flaticon-columns: "\f108";
$font-Flaticon-edit-picture: "\f109";
$font-Flaticon-eye-dropper: "\f10a";
$font-Flaticon-fill: "\f10b";
$font-Flaticon-graphs: "\f10c";
$font-Flaticon-grid: "\f10d";
$font-Flaticon-highlight: "\f10e";
$font-Flaticon-image-shadow: "\f10f";
$font-Flaticon-insert-picture: "\f110";
$font-Flaticon-italics: "\f111";
$font-Flaticon-leading: "\f112";
$font-Flaticon-letter-color: "\f113";
$font-Flaticon-letter-glow-effect: "\f114";
$font-Flaticon-letter-shadow: "\f115";
$font-Flaticon-letter-size: "\f116";
$font-Flaticon-link: "\f117";
$font-Flaticon-magnifying-glass: "\f118";
$font-Flaticon-multimedia: "\f119";
$font-Flaticon-new-page: "\f11a";
$font-Flaticon-numbering: "\f11b";
$font-Flaticon-open-file: "\f11c";
$font-Flaticon-page-break: "\f11d";
$font-Flaticon-paragraph: "\f11e";
$font-Flaticon-pen: "\f11f";
$font-Flaticon-pencil: "\f120";
$font-Flaticon-pointer: "\f121";
$font-Flaticon-print: "\f122";
$font-Flaticon-quotes: "\f123";
$font-Flaticon-redo: "\f124";
$font-Flaticon-remove-right-frame: "\f125";
$font-Flaticon-ruler: "\f126";
$font-Flaticon-scissors: "\f127";
$font-Flaticon-spacing: "\f128";
$font-Flaticon-strike-through: "\f129";
$font-Flaticon-superscript: "\f12a";
$font-Flaticon-swatches: "\f12b";
$font-Flaticon-text-box: "\f12c";
$font-Flaticon-text-in: "\f12d";
$font-Flaticon-text-out: "\f12e";
$font-Flaticon-type: "\f12f";
$font-Flaticon-undelined: "\f130";
$font-Flaticon-undo: "\f131";
